<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:jaxws="http://cxf.apache.org/jaxws"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

        <import resource="classpath:META-INF/cxf/cxf.xml" />
        
        <jaxws:endpoint 
          id="viajesWS" 
          implementor="com.spacetravels.travels.ws.ViajesWSImpl" 
          address="/ViajesWS" />
          
        <jaxws:endpoint 
          id="reservasWS" 
          implementor="com.spacetravels.travels.ws.reservas.ReservasWSImpl" 
          address="/ReservasWS" />
          
         <jaxws:endpoint 
          id="usuariosWS" 
          implementor="com.spacetravels.travels.ws.usuarios.UsuariosWSImpl" 
          address="/UsuariosWS" />
                   
</beans>
